
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    if subject
      title= subject
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    style(type='text/css').

      a {
        color: #000000;
        text-decoration: none;
        font-weight: 900;
      }

      body {
         margin-left: 25%;
      }
      div {
        font-family: arial, sans-serif;
        color: #919191;
        font-size: 19px;
        padding: 3%;
        width: 60%;
        height: 30%;
        background-color: #F5F5F5;
        border-radius: 4px;
        text-align: center;
      }
      button {
        border-radius: 3px;
        height: 45px;
        width: 90px;
        background-color: #F34B2E;
        color: white;
        margin: 0 auto;
        display: block;
        border: none;
        font-weight: 700;
        font-size: 15px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: bold;
        transition-duration: 0.3s;
        letter-spacing: .07rem;
      }
      h3 {
        color: #646262
      }
      img {
        width: 135px;
        height: 55px;
      }
      .button {
        color: white;
        text-decoration: none;
      }

  body
    br
    br
    br
    br
    br
    img(src='/heatMailTitle.png' style='width:135px; height:55px')
    div
      h3 About
      p(style="text-align:left;")
        | This tidy, little webapp was conceived and built by...!
        | Thanks to <a href="https://nodemailer.com/about/">Nodemailer</a> for doing the heavy-lifting by providing the email support.  You can support their work <a href="https://nodemailer.com/about/#support-nodemailer">HERE</a>.
      br

      <button><a class="button" href="http://localhost:3600/">BACK</a></button>
