
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    if subject
      title= subject
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    style(type='text/css')
      include pug.css

  body
    div(class="title")
      div(class="heatmail-logo")
        img(src="/heatMailLogo.png" style='height:25px; width:25px')
      div(class="heatmail-title")
        div heatMail
    div(class="gray-box-verify")
        h4 You'll now receive heatMail!
        br
        div And send a heatMail of your own:
        br
        <button><a href="http://localhost:3600/">go</a></button>




