
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    if subject
      title= subject
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    style(type='text/css').
      a {
        color: white;
        text-decoration: none;
      }
      body {
         margin-left: 25%;
      }
      div {
        font-family: arial, sans-serif;
        color: black;
        font-size: 17px;
        padding: 3%;
        width: 60%;
        height: 20%;
        background-color: #F5F5F5;
        border-radius: 4px;
      }

      button {
        border-radius: 4px;
        border: none;
        background-color: #E82222;
        height: 40px;
        width: 105px;
        font-weight: 600;
        font-size: 13px;
      }
      img {
        width: 135px;
        height: 55px;
      }
  body
    img(src='/heatMailTitle.png' style='width:135px; height:55px')
    div
      h4 Thanks! You'll now begin receiving heatMail!

      p Also - feel free to send off a heatMail of your own, too:
      <button><a href="http://localhost:3600/">heatMail</a></button>


