doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    if subject
      title= subject
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    style(type='text/css').
      a {
        color: white;
        text-decoration: none;
      }
      div {
        font-family: arial, sans-serif;
        font-size: 15px;
        padding: 5%;
        width: 60%;
        height: 50%;
        background-color: #FAFAFA;
        border-radius: 4px;
      }

      button {
        border-radius: 5px;
        background-color: #FF2727;
        height: 45px;
        width: 125px;
        font-weight: 600;
      }
      img {
        width: 130px;
        height: 70px;
      }
  body
    <img src="cid:1234"/>
    <div>
    p Whom It May Concern,
    |
    p #{body}
    |
    |
    p Feeling A Bit Better,
    p Anonymous
    br
    <button><a href="http://localhost:3600/">heatMail</a></button>
    <button><a href="http://localhost:3600/remove/${identifier}">unsubscribe</a></button
    br
    </div>

