doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    if subject
      title= subject
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    style(type='text/css').
      a {
        color: white;
        text-decoration: none;
      }
      div.image-container {
        margin-left: 11%;
      }

      div.inner-container {
        color: #2F4F4F;
        font-size: 15px;
        padding: 3%;
        width: 70%;
        height: 50%;
        background-color: #FAFAFA;
        border-radius: 4px;
        margin: 0 auto;
      }

      button {
        border-radius: 4px;
        border: none;
        background-color: #F34B2E;
        height: 40px;
        width: 105px;
        font-weight: 600;
        font-size: 13px;
      }
      img {
        width: 135px;
        height: 55px;
        margin: 0 auto;
      }

      pre {
        font-family: arial, sans-serif;
      }
  body
    div(class="outer-container")
      div(class="image-container")
        <img src="cid:1234"/>
      div(class="inner-container")
        pre To Whom It May Concern,
        |
        pre #{body}
        |
        |
        pre Regards,
        pre Anonymous
        br
        <button><a href="http://localhost:3600/">heatMail</a></button>&nbsp;&nbsp;
        <button><a href="http://localhost:3600/remove/#{identifier}">Unsubscribe</a></button


