button {
  border-radius: 3px;
  height: 45px;
  width: 100px;
  color: white;
  margin: 0 auto;
  display: block;
  background-color: green;
  font-weight: 700;
  font-size: small;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

.body {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100px 100px 500px;
}

.one {
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: center;
  border-bottom: 4px solid black;
  margin-bottom: 10px;
}

.two {
  grid-column: 1 / 4;
  grid-row: 2;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 10px;

}

.three {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}

.four {
  grid-column: 2;
  grid-row: 3;
}

.email-signup {
  width: 65%;
}

.subject {
  width: 75%;
  height: 20px;
  margin: 0 auto;
  display: block;
}