button {
  border-radius: 5px;
  height: 40px;
  width: 80px;
  color: white;
  margin: 0 auto;
  display: block;
  background-color: green;
  font-weight: 700;
  font-size: small;
}

.body {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.subject {
  border-radius: 5px;
  width: 615px;
  height: 20px;
  margin: 0 auto;
  display: block;
}