button {
  border-radius: 3px;
  height: 45px;
  width: 100px;
  color: #646262;
  margin: 0 auto;
  display: block;
  background-color: white;
  border: 1px solid gray;
  font-weight: 700;
  font-size: small;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #FF2727;
  color: white;
}

textarea {
  font-size: medium;
}

input {
  font-size: large;
}

.signup-button {
  height: 40px;
  width: 90px;
  margin-top: 10px
}

.body {
  margin: 0 auto;
  display: block;
  border-radius: 2px;
  border: 1px gray solid;
}

.grid {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  grid-template-rows: 65px 170px 320px 75px 115px;
}

.grid-title {
  padding-left: 5%;
  grid-column: 1 / 4;
  grid-row: 1;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 125%;
  position: relative;
}

.vertical-center {
  margin: 0;
  color: #646262;
  padding-left: 45px;
  padding-bottom: 5px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.grid-text {
  grid-column: 2 / 3;
  margin-bottom: 2%;
  margin-left: 6%;
  margin-right: 6%;
  /* background-color: #FDFED3; */
  grid-row: 2;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 110%;
  /* line-height: 1; */
  color: #646262;
  /* color: rgb(236, 234, 234); */
  /* border-bottom: 1px solid black; */
  /* margin-bottom: 10px; */

}


.grid-signup {
  padding-top: 270px;
  grid-column: 1;
  grid-row: 2 / 6;
  text-align: center;
  /* border-right: 1px solid gray; */
  background-color: #FAFAFA;
  border-radius: 4px;
}

.grid-body {
  /* background-color: pink; */
  grid-column: 2;
  grid-row: 3;
  padding-top: 30px
}

.grid-buttons {
  /* background-color: red; */
  grid-column: 2 / 3;
  grid-row: 4;
  width: 300px;
  margin: 0 auto;
  display: block;
  padding-top: 12px;
}

.grid-sidebar-rules {
  grid-row: 1 / 5;
  grid-column: 3;
  background-color: #FCFCA4;
  border-radius: 4px;
  margin: 0 auto;
  width: 80%;
  height: 95%;
  position: relative;
  right: 20%;
  top: 10%;
}

.send-button {
  display: inline-block;
  position: relative;
}

.email-signup {
  width: 80%;
  height: 35px;
  text-align: center;
  font-size: small;
}

.explanation-text {
  position: relative;
  top: 11px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 1.6em;
}

.e-t {
  position: relative;
  top: -4px;
  padding-right: 40px;
}

.reply-graphic {
  display: inline-block;
  position:relative;
  top:-3px;
  height: 30px;
  width: 60px;
  color: white;
  background-color: #FF2727;
}

.edit-send-buttons-wrapper {
  width: 100%;
  text-align: center;
}

.edit-send-buttons {
  display: inline-block;
  margin: 4px;
}

.signup-tally {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  letter-spacing: .05rem;
}

.subject {
  width: 606px;
  height: 38px;
  margin: 0 auto;
  display: block;
  border: 1px solid gray;
  border-radius: 2px;
  text-align: left;
  font-size: small;
  padding-left: 10px;
}

.thought-bubble {
  position: relative;
  top: -9px;
}

.you-are {
  font-size: 190%;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.receive-text {
  font-family: 'Raleway',sans-serif;
  font-size: small;
}

.subject-preview {
  font-family: 'Raleway',sans-serif;
  padding-left: 105px;
  padding-top: 10px;
}

.body-preview {
  font-family: 'Raleway',sans-serif;
  padding-left: 105px;
  padding-top: 10px;
}

.preview-button {
  padding-top: 8px;
  color: #646262;
  padding-left: 40px;
}

.preview-title {
  font-family: 'Raleway',sans-serif;
  text-align: center;
  border-bottom: 1px solid black;
}

.sent-preview {
  color: grey;
  text-align: center;
  padding-top: 100px;
  /* color: */
}




input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid gray;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid gray;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
